<div fxLayout='column'>
  <div>
    过滤条件：
    <app-task-filter></app-task-filter>
  </div>
  <div fxLayout='row' fxLayoutGap='10px'>
    <div fxLayout="column">
      <div fxLayout="row">
        <mat-icon (click)="taskTree.createRootTask()">add</mat-icon>
        <mat-icon (click)="refreshTaskList()">toys</mat-icon>
      </div>
      <app-task-tree #taskTree (selectChanged)="taskDetail.setTask($event)"></app-task-tree>
    </div>
    <app-task-edit-pane #taskDetail fxFlex></app-task-edit-pane>
  </div>
</div>
