<mat-tab-group mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <a routerLink="/project-view"><i class="el-icon-ship"></i> 项目视图</a>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <a routerLink="/date-view"><i class="el-icon-ship"></i> 日历视图</a>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <a routerLink="/history-view"><i class="el-icon-ship"></i> 历史视图</a>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>