<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- Leaf node -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding fxLayout='row' fxLayoutAlign="end center" class='task-tree-node'>
    <button mat-icon-button disabled></button>
    <div fxFlex>{{node.task.name}}</div>
    <mat-icon class='node-button' (click)="createSubTask(node)">add</mat-icon>
    <mat-icon class='node-button' (click)="deleteTask(node)">clear</mat-icon>
  </mat-tree-node>

  <!-- expandable node -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding fxLayout='row' fxLayoutAlign="end center" class='task-tree-node'>
    <button mat-icon-button
            [attr.aria-label]="'Toggle ' + node.item"
            (click)="loadChildren(node)"
            matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div fxFlex>{{node.task.name}}</div>
    <mat-icon class='node-button' (click)="createSubTask(node)">add</mat-icon>
    <mat-icon class='node-button' (click)="deleteTask(node)">clear</mat-icon>
  </mat-tree-node>
</mat-tree>
