<p>
  <mat-form-field appearance="legacy">
    <mat-label>Task Name</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="taskShowed.name" (change)="notifyDirty()">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Task Description</mat-label>
    <textarea matInput #message maxlength="256" placeholder="Ex. I need help with..."
              [(ngModel)]="taskShowed.description" (change)="notifyDirty()">
    </textarea>
  </mat-form-field>
</p>
<div fxLayout='row'>
  <mat-label fxFlex="10" fxFlexAlign="center">优先级</mat-label>
  <div fxFlex>{{taskShowed.priority}}
    <mat-slider thumbLabel disabled
                tickInterval="1" min="0" max="30"
                [(ngModel)]="taskShowed.priority">
    </mat-slider>
    <mat-icon matTooltip="优先级只是一个结果，他是通过其他信息计算出来的。">help_outline</mat-icon>
  </div>
</div>
<div fxLayout='row'>
  <mat-label fxFlex="10" fxFlexAlign="center">时机</mat-label>
  <div fxFlex>{{taskShowed.opportunity}}
    <mat-slider thumbLabel
                tickInterval="1" min="0" max="10"
                [(ngModel)]="taskShowed.opportunity" (ngModelChange)="notifyDirty()">
    </mat-slider>
  </div>
</div>
<div fxLayout='row'>
  <mat-label fxFlex="10" fxFlexAlign="center">痛苦度</mat-label>
  <div fxFlex>{{taskShowed.painLevel}}
    <mat-slider thumbLabel
                tickInterval="1" min="0" max="10"
                [(ngModel)]="taskShowed.painLevel" (ngModelChange)="notifyDirty()">
    </mat-slider>
    <mat-icon matTooltip="如果不做这个事情，能有多痛苦">help_outline</mat-icon>
  </div>
</div>
<div fxLayout='row'>
  <mat-label fxFlex="10" fxFlexAlign="center">热情</mat-label>
  <div fxFlex>{{taskShowed.yearnLevel}}
    <mat-slider thumbLabel
                tickInterval="1" min="0" max="10"
                [(ngModel)]="taskShowed.yearnLevel" (ngModelChange)="notifyDirty()">
    </mat-slider>
    <mat-icon matTooltip="有多么想做这个事情">help_outline</mat-icon>
  </div>
</div>
<p>
  <mat-form-field appearance="fill">
    <mat-label>计划开始时间</mat-label>
    <input matInput [formControl]="planStartFormControl"
           [(ngModel)]="taskShowed.planStartTime" (change)="notifyDirty()">
    <mat-hint>e.g.: 2020-09-12 or 2020-09-12 14:00</mat-hint>
    <mat-error *ngIf="planStartFormControl.hasError('pattern')">
      Wrong format
    </mat-error>
  </mat-form-field>
  -
  <mat-form-field appearance="fill">
    <mat-label>计划结束时间</mat-label>
    <input matInput [formControl]="planEndFormControl"
           [(ngModel)]="taskShowed.planEndTime" (change)="notifyDirty()">
    <mat-hint>e.g.: 2020-09-12 or 2020-09-12 14:00</mat-hint>
    <mat-error *ngIf="planEndFormControl.hasError('pattern')">
      Wrong format
    </mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Task Status</mat-label>
    <mat-select [(ngModel)]="taskShowed.status" (ngModelChange)="notifyDirty()">
      <mat-option *ngFor="let taskStatusItem of taskStatusRange"
                  [value]="taskStatusItem.code">{{taskStatusItem.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>备注</mat-label>
    <textarea matInput #message maxlength="256" placeholder="Ex. I need help with..."
              [(ngModel)]="taskShowed.remark" (change)="notifyDirty()">

        </textarea>
    <mat-hint align="start"><strong>Don't disclose personal info</strong></mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
</p>
<p>
  <button mat-stroked-button (click)="apply()">应用</button>
  <button mat-stroked-button (click)="cancel()">取消</button>
</p>
